<div class="container-fluid">
  <div class="container" id="sign-box" [class.hidden]="isLogin">
    <div class="form-group">
      <label for="api-key">API Key</label>
      <input (keyup)="inputKey($event)" type="text" class="form-control" id="api-key" placeholder="API Key">
    </div>
    <div class="form-group">
      <label for="api-secret">APISecret</label>
      <input (keyup)="inputSecret($event)" type="text" class="form-control" id="api-secret" placeholder="API Secret">
    </div>
    <button type="submit" id="sign" class="btn btn-primary" (click)="login()">Login</button>
  </div>

  <div class="container-fluid" id="programme-in" [class.hidden]="!isLogin">
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4">Hello World</h1>
        <p class="lead">Beta 1.0.0</p>
      </div>
      <div class="container-fluid">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select (change)="buySelect($event)" class="custom-select mr-sm-2" id="buy-currency">
              <option disabled>Buy</option>
              <option *ngFor="let buyCoin of buyList" value="{{buyCoin}}" [selected]="buyCoin == defaultBuy">{{buyCoin.toUpperCase()}}</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <select (change)="currencySelect($event)" class="custom-select mr-sm-2" id="use-currency">
              <option disabled>use</option>
              <option *ngFor="let currency of currencyList" value="{{currency}}" [selected]="currency == defaultCurrency">{{currency.toUpperCase()}}</option>
            </select>
          </div>
          <div class="col-auto my-1 align-items-center">
            <input type="text" class="form-control mr-sm-2" id="seller-price" placeholder="Seller Price">
          </div>
          <div class="col-auto my-1 align-items-center">
            <input type="text" class="form-control mr-sm-2" id="buy-price" placeholder="Buy Price">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <div class="tickerDetail" *ngIf="ws.tickerData">
            <h6>{{ws.tickerData.channel}}</h6>
            <div class="justify-content-start align-items-center">
                <button type="button" class="btn btn-primary">
                    Buy <span class="badge badge-light">{{ws.tickerData.data.buy}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Sell <span class="badge badge-light">{{ws.tickerData.data.sell}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Vol <span class="badge badge-light">{{ws.tickerData.data.vol}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    last <span class="badge badge-light">{{ws.tickerData.data.last}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    DayHigh <span class="badge badge-light">{{ws.tickerData.data.dayHigh}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    DayLow <span class="badge badge-light">{{ws.tickerData.data.dayLow}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Close <span class="badge badge-light">{{ws.tickerData.data.close}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Open <span class="badge badge-light">{{ws.tickerData.data.open}}</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Change <span class="badge badge-light">{{ws.tickerData.data.change}}</span>
                </button>
            </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">

    </div>

  </div>
</div>