<div class="container-fluid">
  <div class="container" id="sign-box" [class.hidden]="isLogin">
    <div class="form-group">
      <label for="api-key">API Key</label>
      <input (keyup)="inputKey($event)" type="text" class="form-control" id="api-key" placeholder="API Key">
    </div>
    <div class="form-group">
      <label for="api-secret">APISecret</label>
      <input (keyup)="inputSecret($event)" type="text" class="form-control" id="api-secret" placeholder="API Secret">
    </div>
    <button type="submit" id="sign" class="btn btn-primary"(click)="login()">Login</button>
  </div>

  <div class="container-fluid" id="programme-in" [class.hidden]="!isLogin">
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4">Hello World</h1>
        <p class="lead">Beta 1.0.0</p>
      </div>
      <div class="container-fluid">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select (change)="buySelect($event)" class="custom-select mr-sm-2" id="buy-currency">
              <option selected>Buy</option>
              <option *ngFor="let buyCoin of buyList" value="{{buyCoin}}">{{buyCoin.toUpperCase()}}</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <select (change)="currencySelect($event)" class="custom-select mr-sm-2" id="use-currency">
              <option selected>use</option>
              <option *ngFor="let currency of currencyList" value="{{currency}}">{{currency.toUpperCase()}}</option>
            </select>
          </div>
          <div class="col-auto my-1 align-items-center">
            <input type="text" class="form-control mr-sm-2" id="seller-price" placeholder="Seller Price">
          </div>
          <div class="col-auto my-1 align-items-center">
            <input type="text" class="form-control mr-sm-2" id="buy-price" placeholder="Buy Price">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

        <table class="table table-sm table-hover" *ngIf="ws.tickerData">
          <thead>
              <tr>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Vol</th>
                <th scope="col">Last</th>
                <th scope="col">DayHigh</th>
                <th scope="col">DayLow</th>
                <th scope="col">Close</th>
                <th scope="col">Open</th>
                <th scope="col">Change</th>            
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ws.tickerData.buy}}</td>
                <td>{{ws.tickerData.sell}}</td>
                <td>{{ws.tickerData.vol}}</td>
                <td>{{ws.tickerData.last}}</td>
                <td>{{ws.tickerData.dayHigh}}</td>
                <td>{{ws.tickerData.dayLow}}</td>
                <td>{{ws.tickerData.close}}</td>
                <td>{{ws.tickerData.open}}</td>
                <td>{{ws.tickerData.change}}</td>
              </tr>
          </table>
      </div>
    </div>

    <div class="container-fluid">
        
    </div>

  </div>
</div>